/* ===================================== GOOGLE FONTS ===================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ===================================== VARIÁVEIS ===================================== */
:root{
    /* =================== CORES =================== */
    --cor-principal-menu: linear-gradient(90deg, #F2884B 30%, #F2AC57, #F29F80);;
    --cor-menu-mobile: linear-gradient(90deg, #F2884B 30%, #F2AC57, #F29F80);
    --cor-fonte-menu: white;
    --cor-hover-menu: #8b8b8b;

    /* =================== TIPOGRAFIA =================== */
    --font-body: 'Roboto', sans-serif;

    --altura-menu: 8rem;
    --padding-vertical-menu: 0 2rem;
    --padding-itens-menu: .5rem;
    --gap-itens-menu-desktop: .5rem;
    --border-radius-itens-menu: 1rem;
    --transicao-hover-itens-menu: 1s;
    --tamanho-logo-menu: 100%;
    --icone-btn-mobile: 3rem;
}

/* =================== BASE =================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-body);
}

/* =================== ESTILIZAÇÃO MENU =================== */
.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: var(--altura-menu);
    padding: var(--padding-vertical-menu);
    background-image: var(--cor-principal-menu);
}

.itens-menu{
    display: flex;
    gap: var(--gap-itens-menu-desktop);
}

li{
    list-style: none;
}

.item{
    text-decoration: none;
    padding: var(--padding-itens-menu);
    color: var(--cor-fonte-menu);
    border-radius: var(--border-radius-itens-menu);
}

.item:hover{
    background-color: var(--cor-hover-menu);
    transition: var(--transicao-hover-itens-menu);
}

#logo-menu{
    height: var(--tamanho-logo-menu);
}

#check{
    display: none;
}

.bx-menu-open{
    display: none;
    height: var(--icone-btn-mobile);
    cursor: pointer;
}

/* =================== ESTILIZAÇÃO CONTEÚDO =================== */
main{
    padding: 8rem 0;
    height: 100vh;
}
/* div,html {

    height: 100%;
    margin: 0
} */


/* .bloco-container{

display: flex;
flex-direction: column;

}  */

.container01 {


    background-image: url("img/imageminicial.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    margin-top: 0px;
    

}



#titulo-container01 {
       

    display: flex;
    
    color: azure;
    font-size: 43px;
    padding-top: 100px;
    margin-left: 50px;
    margin-right: 900px;
    font-family: 'Lucida Sans';
}

#subtitulo-container01{
    display: flex;       
    color: azure;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 950px;
    font-family: 'Lucida Sans';
}

#lista-container01 {
    display: flex;       
    flex-direction: column; 
    color: azure;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 900px;
    font-family: 'Lucida Sans';
}





.container02 {
display:grid ;
grid-template-columns: 1fr 1fr;
background-color: #bbbbba;
height: 100vh;

}


#imagem-container02{


margin-top:85px;
margin-left: 50px;

}

#subtitulo-container02 {
        
    color: azure;
    font-size: 17px;
    margin-top: 50px;

    margin-right: 100px;
    font-family: 'Lucida Sans';
}



#lista-container02 {
        
    
    color: azure;
    font-size: 17px;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;       
    flex-direction: column;
    margin-top: -420px;
    margin-left: 10px;
    margin-right: 50px;
    font-family: 'Lucida Sans';
}
#solicitar-cartao{

    font-size: 17px;
    margin-top: 50px;
margin-right: 50px;
    margin-left: 180px;
    font-family: 'Lucida Sans';

    }

#heart {

margin-left: -5px;

}

.container03 {

    background-image: url("img/avôs.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: 0px;
   
   
}
#titulo-container03 {
       

    display: flex;
    margin-top:-200px;
    color: azure;
    font-size: 25px;
  
    margin-left: 70px;
    margin-right: 900px;
    font-family: 'Lucida Sans';
}

#imagem-container03{


    margin-top:-100px;
    margin-left: 20px;
    margin-right: 200px;
    
    }



/* =================== ESTILIZAÇÃO RODAPÉ =================== */

.footer{
    display: flex;
    flex-grow: 0;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: #444140;
}

.container-img-footer{
    height: 100%;
}


.paragrafo-footer{
    color: white;
}

#logo-footer{
    height: 100%;
}

/* =================== RESPONSIVIDADE =================== */
@media screen and (max-width: 600px) {
    .bx-menu-open{
        display: block;
    }

    .itens-menu{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        position: absolute;
        width: 100%;
        height: calc(100vh - 8rem);
        top: 8rem;
        left: -110%;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 8rem;
        left: -100%;
        padding: 1rem;        
        background-image: var(--cor-menu-mobile);
        transition: linear .5s;
        overflow-y: auto;
        z-index: 1000;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    .item{
        width: 100%;
        text-align: center;
    }

    .bx-menu-open:hover{
        height: 3.5rem ;
        transition: .5s;
    }

    #check:checked ~ .itens-menu{ /* Se 'checked', ativa menu mobile!*/
        left: 0;
    }
}

